body {
	background: #ffffff;
}
.exam-sections {
	border-color: Black;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin: 0 0 5px 0;
}
.exam-photo {
	margin-bottom: 0px;
}
.exam-border {
	margin-bottom: 0px;
	margin-top: 0px;
}
.exam-logo {
	padding-top: 0px;
	font-size: 20px;
}
.exam-student-name{font-size: 13px;font-weight: bold; margin-top: 10px}
.exam-SubjectButton, a.exam-SubjectButton:hover {
	background-color: #465d91;
	border: 1px #4e667d solid;
	color: #dde4ec;
	display: block;
	line-height: 2.45em;
	padding: 4px 8px;
	text-decoration: none;
	white-space: nowrap;
	display: inline;
	margin-right: 8px;
	font-weight: bold;
	font-size: 0.9em;
	cursor: pointer;
}
.exam-subjectHighlight {
	background-color: #99ccff;
	color: #333;
}
.exam-dpopup {
	display: inline;
	position: relative;
}
#exam-divQuestionPalleteTitle {
	margin-top: 10px;
	background-color: #DCEAF2;
	text-align: left;
	padding-left: 5px;
	padding-top: 5px;
}
.exam-PalleteButtons {
	margin-right: 13px;
	text-align: center;
}
#exam-divQuestionPallete {
	background-color: #DCEAF2;
	min-height: 400px;
	max-height: 500px;
	overflow-y: auto;
	font-size: 0.8em;

}
div.exam-QuestionHeader {
	border-color: Black;
	border-bottom-color: White;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	min-height: 40px;
	font-weight: bold;
}
.exam-QuestionNo {
	float: left;
}
.exam-Marks {
	margin: 0 0px 0 20px;
	float: right;
}
.exam-ViewIn {
	float: right;
}
@media only screen and (min-width: 220px) and (max-width: 620px){
	.exam-Marks {
		margin: 0 0px 0 0px;float:none;
	}
	.exam-ViewIn {
		float: none;
	}
	.exam-QuestionNo{
		float: none;
	}
}

div.exam-Question {
	border-color: Black;
	border-style: solid;
	border-width: 1px;
	padding: 0px;
	min-height: 330px;
	max-height: 330px;
	font-size: 1.2em;
	text-align: justify;
}
div.exam-divPassage {
	float: left;
	width: 50%;
	display: none;
	padding: 10px;
	margin-right: 10px;
	min-height: 378px;
	max-height: 378px;
	overflow-y: scroll;
}
div.exam-questionBox {
	width: 95%;
	padding: 10px;
	height: 378px;
	overflow: auto;
}
@media only screen and (min-width: 220px) and (max-width: 749px){div.exam-questionBox {height:300px; padding-bottom: 10px}}
div.exam-QuestionFooter {
	border-color: Black;
	border-top-color: White;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	min-height: 55px;
	text-align: right;
}
@media only screen and (min-width: 421px) and (max-width: 549px){div.exam-QuestionFooter {min-height: 70px;}}
@media only screen and (min-width: 220px) and (max-width: 549px){div.exam-QuestionFooter {padding: 4px 4px;}}
@media only screen and (min-width: 220px) and (max-width: 549px){.exam-savenext {float: left;margin-top: 10px;}}
@media only screen and (min-width: 220px) and (max-width: 420px){.exam-review {float: left;padding-left: 5px;}}
@media only screen and (min-width: 220px) and (max-width: 420px){.exam-cresponse {float: left;padding-left: 5px;}}
@media only screen and (min-width: 220px) and (max-width: 420px){div.exam-QuestionFooter {min-height: 55px;}}
@media only screen and (min-width: 220px) and (max-width: 315px){#exam-ddlQStatus{width:180px;}}
@media only screen and (min-width: 220px) and (max-width: 450px){div.exam-Question{font-size: 1.0em;}}
@media only screen and (min-width: 385px) and (max-width: 485px){.exam-heading{text-align: center;font-size:21px; font-weight: 600;}}
@media only screen and (min-width: 220px) and (max-width: 384px){.exam-heading{text-align: center;font-size:16px; font-weight: 600;}}
.menu_header{
	height: 60px;
	background-color: #2196F3;
}
.exam_new_heading{
	padding: 5px;
	color: #ffffff;
	text-align: right;
}
.exam_new_bars{
	float: left;
	color: #ffffff;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
}
@media only screen and (min-width: 220px) and (max-width: 768px) {
	.exam_question_palette {
		position: absolute;
		top: 60px;
		background-color: #dceaf2;
		height: auto;
		margin-left: 15px;
		/* padding-top: 10px; */
		display: none;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
	#navbar > div {
		margin-top: 30px;
		padding-bottom: 30px;
	}
}
.exam-SecondaryButton, a:hover.exam-SecondaryButton {
	background-color: #99ccff;
	border: 1px #4e667d solid;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
	display: inline;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: .80em;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}
.exam-DefaultButton, a:hover.exam-DefaultButton {
	background-color: #465d91;
	border: 1px #4e667d solid;
	color: #dde4ec;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
	display: inline;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: .80em;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}
div.exam-MarkForReview {
	float: left;
}
.exam-divLegend {
	background-color: #DCEAF2;
	padding-left: 5px;
	text-align: left;
	padding-bottom: 20px;
}
.exam-divLegend button {
	display: block;
	line-height: 1.35em;
	text-decoration: none;
	white-space: nowrap;
	display: inline;
	margin-left: 4px;
	margin-top: 2px;
	font-weight: bold;
	cursor: pointer;
	width: 26px;
	height: 26px;
	border: none;
	background-size: 28px 25px;
	background-position: -1px 2px;
	font-size: 11px;
}
.exam-PalleteButtons button {
	display: block;
	line-height: 1.35em;
	text-decoration: none;
	white-space: nowrap;
	display: inline;
	margin-left: 6px;
	margin-top: 8px;
	font-weight: bold;
	cursor: pointer;
	width: 32px;
	height: 26px;
	float: left;
	padding-left: 4px;
	border: none;
}
.exam-ButtonAnswered {
	color: #dde4ec;
	background: url(../img/answered.png) no-repeat;
}
.exam-ButtonNotAnswered {
	background: url(../img/not_answered.png) no-repeat;
	color: #dde4ec;
}
.exam-ButtonNotAnsweredMarked {
	color: #dde4ec;
	background: url(../img/review.png) no-repeat;
}
.exam-ButtonNotVisited {
	color: #666;
	background: url(../img/not_visited.png) no-repeat;
}
.exam-ButtonAnsweredMarked {
	color: #dde4ec;
	background: url(../img/review_answer.png) no-repeat;
	background-position: 0px -2px;
}
.exam-divRightpanelBottom {
	background-color: #DCEAF2;
	padding-bottom: 6px;
}
.exam-RightPanelButton {
	background-color: #99ccff;
	border: 1px #4e667d solid;
	display: block;
	line-height: 1.35em;
	white-space: nowrap;
	display: inline;
	cursor: pointer;
	height: 24px;
	width: 115px;
	margin-top: 6px;
}
.exam-submitButton {
	background-color: #99ccff;
	border: 1px #4e667d solid;
	display: block;
	line-height: 1.35em;
	white-space: nowrap;
	display: inline;
	font-weight: bold;
	cursor: pointer;
	height: 24px;
	width: 115px;
	margin-top: 6px;
}
.exam-overlay {
	position: absolute;
	top: 45px;
	bottom: 5px;
	left: 5px;
	right: 0px;
	width: auto;
	height: auto;
	z-index: 1000;
	background-color: #F5F5F5;
	border: 1px solid #000;
	display: block;
	overflow-y: scroll;
	padding: 5px 8px 5px 8x;
}
div.exam-LangaugeSelection {
	float: right;
	margin: 5px 10px 5px 10px;
}
div.exam-InstructionHeader {
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
	font-size: 16px;
}
#exam-divInstructions {
	width: 100%;
	text-align: left;
	margin: 5px 10px 5px 0px;
	padding: 8px;
	font-size: 16px;
}
.exam-divbackButton {
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
}
#userInfoInner {
	margin-top: 100px;
	width: 300px;
	height: 100px;
	border: 2px solid #999;
	padding: 12px;
}
table.exam-QPQuestion {
	font-size: 1.2em;
	padding: 6px;
	width: 99%;
	margin-bottom: 5px;
	border-collapse: collapse;
	background-color: #fff;
}
.exam-QPQuestion .exam-tdnum {
	width: 36px;
	background-color: #eee;
}
.exam-QPQuestion td {
	padding: 0px 4px 4px 4px;
	vertical-align: top;
}
h2 {
	font-size: 1.5em;
	font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	color: #666666;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 200;
	margin-top: 2px;
	margin-bottom: 4px;
}
.custom_text_bold {
	font-weight: 600;
}
.center_screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 240px;
	height: 100px;
}
